.administration-wrapper {
  .card-wrapper {
    background-color: #ecebeb;
    margin-bottom: 0px;
    padding: 30px 20px;
    color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    &:hover{
        transform: translateY(-2px);
    }  
    .card-icon {
      font-size: 48px;
    }
    .card-title {
      margin-left: 15px;
    }
  }
}
