.assign-roles {
    .role-name {
        font-size: 18px;
        margin-top: 1.25rem;
    }
    .theDivToControl {
        padding-left: 3rem;
    }
    .context-legend {
        color: #1B609D;
        background-color: rgba(27, 96, 157, 0.05);
        display: inline-block;
        padding: 3px 10px;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
}