.course-status-content {
  background: #fff;
  .course-status {
    display: flex;
    border-bottom: 1px solid #eae6e5;
    padding: 0;
    li {
      margin:5px 15px;
      transition: 0.2s ease;
      cursor: pointer;
      color:#A2A1A1;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

