*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent .info{
    background-color: #bdc5da;
    padding: 0.8rem 2rem;
    border: 1px solid #FFE6E6;
}

.info .state, .info .grade{
    margin-bottom: 0.5rem;
}

#parent .content{
    background-color: #F9F9F9;
    padding: 2rem;
    color: black;
}

.ablock a{
    text-decoration: none;
    color: rgb(80, 113, 221);
}