.reviewrating-step {
    .rating-count {
        font-size: 58px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .por-left {
        .star-rating {
            font-size: 28px;
            margin-bottom: 15px;            
        }
    }
    .bi-star-fill::before {
        color:  #0F4C81;
    }
    .progress {
        --bs-progress-height: 0.75rem;
        margin-right: 15px;
    }
    .star-rating {
        .bi {
            margin-right: 2px;
        }         
    }
}
.starrating-modal {
    text-align: center;
    font-size: 36px;
    .star-rating {
        .bi {
            margin-right: 3px;
        }         
    }
}