.site-header-tab {
    background-color: #F4F7FF;
    padding: 20px 0;
    ul {
        justify-content: center;
        align-items: center;
        text-align: center;
        .nav-item {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            a {
            border-radius: 9px;
            width: 124px;
                &:link, &:visited {
                    background: linear-gradient(297.43deg, #808081 0%, #2E2E35 100%);
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);                    
                    color: #fff;
                }
                &:hover, .active-tab {
                    background: linear-gradient(297.43deg, #28D1EF 0%, #2B2B32 100%);
                    color: #fff;
                }
                                
            }
            span {
                display: block;
                font-weight: 500;
                margin-top: 8px;
                line-height: normal;
                font-size: 14px;
            }
            img {
                max-height: 46px;
            }
        }
    }
}