.landing-wrapper {
  background-image: url("../../assets/images/landing-bg.png");
  height: 90vh;
}

.landing-header{
  padding: 1rem 2rem;
  height: 10vh;
  .search-expand{
    display: flex;
    background: #F4F7FF;
    box-shadow: 1px 2px 9px #bcbcbc80;
    input {
      box-shadow: none;
      background: #ffffff00;
      border: none;
    }
  }
  .logo-wrapper{
    img{
      height: 12vh;
    }
  }
  div {
    button{
      background: linear-gradient(90deg, #6498B2 -0.07%, #0873CD 100.04%);
      border-radius: 2rem;
      padding: 10px;
      border: none;
    }
  }
  .search-btn{
    height: 2.8rem;
    width: 2.8rem;
    img{
      height: 1rem;
      width: 1rem;
    }
  }
}

.login-btn {
    position: absolute;
    top: 50%; 
    left: 5%;
  Button{
    background: linear-gradient(90deg, #13568A -0.02%, #076BD0 100%);
    color: white;
    font-size: 1.3rem;
  }
  Button:hover{
    background: linear-gradient(90deg, #0e456e -0.02%, #034c95 100%);
    color: white;
  }
}
.footer-links{
  background-image: url("../../assets/images/landing-linksbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 10vh;
  .row {
    div {
      border-right: 2px solid orange;
    }
    div:last-child {
      border-right: none;
    }
  }
}

.landing-content {
  height: 80.2vh;
  width: 100%;
  position: relative;
  background: url("../../assets/images/landingImage.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .demovideo-wrapper {
    position: absolute;
    top: 23vh;
    right: 10.8vw;
    iframe {
      width: 37vw;
      height: 42vh;
    }
  }
}