
@media only screen and (max-width: 767.98px) {
    .landing-wrapper{
     height: 80vh;
     .landing-content{
      // background: url(../../assets/images/landing-laptop.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      .laptopbg{
        display: none;
      }
      .laptopbg-mobile{
        margin-top: 10rem;
        display: block;
      }
      .butext{
        display: block;
        width: 100%;
        margin-top: 6rem;
      }
      .login-btn {
        top: 16%;
        left: 0;
          }
        }
        .demovideo-wrapper { 
          top: 20vh;
          right: 13vw;
          iframe {
          width: 54vw;
        }
      }
    }
     .landing-header {
         padding: 6px;
     }
     .footer-links{
         height: auto;
         font-size: 16px;
         z-index: 2;
         .row {
             padding: 24px 0px;
           div {
             border-right: none;
           }
         }
     }
  //  ---- Courses section ---- 
  .landing-courses{
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 3rem;
    .title-wrapper{
      width: 100%;
      text-align: center;
      padding: 1rem;
      margin-bottom: 3rem;
    }
    .courseswrapper{
    flex-direction: column;
      > div{
        gap: 30px;
      }
    }
  }

  //Course catalogue 
  .programlist-wrapper{
    height: auto;
  }
  .program-catalogue 
    .programlist
      > div{
      justify-content: center;
   }
   .program-catalogue{
    padding-top: 0;
   }
  }
