$sidebar-width: 270px;

.dashboard-header {
    transition: 0.5s;
    padding:15px;
    position: fixed;
    width: calc(100% - 80px);
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #F8EDE3;
    .dashboard-header-heading {
        font-size: 24px;
        margin-bottom: 0;
    }
    .dashboard-items {
        display: flex;
        align-items: center;
        justify-content: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-left: 15px;
        }
    }
    .search-icon {
        color: #767fa1;
        font-size: 20px;
    }
    .user-image-logo {
        border-radius: 50%;
        width: 36px;
    }
    .btn-link {
        padding: 0;
        color: #000;
    }
    &.header-slider {
        width: calc(100% - 270px);
    }
}

.main-content-container {
    /* display: flex; height: 100%; */ padding-top: 80px;
    .content-area {
        transition: 0.5s;
        margin-left: 90px;
        padding-left: 10px;
        padding-right: 10px;
        &.content-area-slider {
            margin-left: 280px;
        }
    }
}
.pro-sidebar {
    height: calc(100vh - 80px); 
    margin-top: -80px; 
    position: fixed;
    .logo-bg {
        margin: auto;
    }
    .bl-text {
        background-color: #F57F17;
        text-align: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #fff;
        margin: 0 auto;
    }
    > .pro-sidebar-inner {
        height: 100vh;
    }
    .pro-menu .pro-menu-item {
        font-size: 18px;        
        .fa, .fa-solid, .fas {
            margin-right: 15px;
        }
        > .pro-inner-item {
            padding: 10px 35px 10px 20px;            
        }
    }
    &.collapsed .pro-menu .pro-menu-item > .pro-inner-item {
        padding: 10px 20px;
        .fa, .fa-solid, .fas {
            margin-left: 10px;
        }
    }
    > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
        padding: 0 10px;
        text-align: right;
        cursor: pointer;
        border: none;
        font-size: 20px;
    }
}

@media (max-width: 575.98px) {
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}
