$sidebar-width:270px;
.dashboard-header{
    padding-left: calc($sidebar-width + 30px);
    padding-right: 24px;
    padding-top: 30px;
    .dashboard-header-row{
        margin-left: unset;
        margin-right: unset;
        align-items: baseline;
        border-bottom: 1px solid #EAE6E5;
        .col-sm-6{
            .goodbye-icon{
                width:27px;
                margin-left: 15px;
            }
            .dashboard-header-heading{
                font-size: 30px;
                margin-bottom: 20px;
            }
            .course-status{
                display:flex;
                list-style-type: none;
                padding-inline-start: 0px;
                margin-bottom: 0px;
                .course-progress{
                    color:#F57F17;
                }
            }
            .course-status li{
                padding-right: 20px;
                color:#A2A1A1;
                font-weight: 500;
            }
        }
        .col-sm-6{
            .text-right{
                text-align: end;
                .dashboard-items{
                    display:inline-flex;
                    list-style-type: none;
                    padding-inline-start: 0px;
                    margin-bottom: 0px;
                    .user-image-logo{
                        width: 35px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .dashboard-items li{
                    padding-right: 20px;
                }
                .dashboard-items li .user-name{
                    list-style-type: none;
                    padding-inline-start: 0px;
                    text-align: left;
                    .user-name-content{
                        font-weight: 600;
                        padding-right: 0px;
                    }
                    .username-id{
                        font-size: 12px;
                        padding-right: 0px;
                    }
                }
            }
            .search-icon{
                color:#767FA1;
                font-size: 20px;
            }
        }
    }
}