.dashboard-topPanel {
    // background: linear-gradient(91.5deg, #1B609D 6.81%, #5B7FB5 98.68%);
    background-image: url("../../../assets/images/panel-bg.svg");
    background-repeat: repeat;
    background-position: center;
    padding: 20px 0;
    .mitblock-body {
        min-height: 200px;
        max-height: 200px;
        overflow-y: auto;
        padding-right: 0.5rem;
    }
}
.dashboard-bottomPanel {
    .tab-content {
        padding: 15px 0;
    }
}



