.catalogue-course-slider{
    padding-left: 300px !important;
}
.Catalog-course{
    padding-left: 117px;
    transition: 0.5s;
    padding-right: 24px;
    padding-top: 50px;
    padding-bottom: 30px;
    .catalog-course-heading{
        font-size: 30px;
        color: #F57F17;
    }
    .Course-inner{
        // padding: 0 15%;
        padding:0px;
    }
    .course-inner-block{
        border: 2px solid rgb(71, 69, 69);
        height: 235px;
        .course-catalog-icon{
            font-size: 100px;
            text-align: center;
            color: rgb(73, 71, 71);
        }
        .course-details{
            text-align: center;
            p{
                font-size: 16px;
                font-weight: 700;
                color: rgb(73, 71, 71)  ;
                span{
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
    .more-course-btn{
        background-color: white;
        border: 1px solid #F57F17;
        border-radius: 50px;
        padding:8px 30px 8px 30px;
        color: #F57F17;
        font-size: 14px;
        margin-top: 15px;
    }
}



@media (max-width: 575.98px) {
    .catalogue-course-slider {
        padding-left: 300px !important;
    }
    .Catalog-course{
        padding-left: 20px !important;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .Catalog-course{
        padding-left: 20px !important;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {
    .Catalog-course{
        padding-left: 64px !important;
    }
}



@media (min-width: 992px) and (max-width: 1199.98px) {
    .Catalog-course{
        padding-left: 64px !important;
    }
}




// @media (min-width: 1200px) {
//     .Catalog-course{
//         padding-left: 117px !important;
//     }
// }