.signup-leftImg {
  background: url('../../assets/images/login-bg.png');
  min-height: 100vh;
  width: 100% !important;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.signup-rightForm {
  width: 100%; margin-right: 20%;
}
.signup-rightForm .form-label {
  margin-bottom: 0.25rem;
}
.signup-rightForm .form-control {
  font-size: 14px;
}
.signup-logo {
  background: #fff;
  width: 154px;
  height: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.signup-logo img {
  max-height: 74px;
}
.signup-title {
  font-family: 'DM Serif Display', serif;
}
.signup-desc {
  color: #666;
}

@media (max-width: 991.98px) { 
  .signup-leftImg {
      display: none;
  }
  .signup-rightForm {
      width: 90%; margin-right: 0;
  }
}