.form-error, .error {
    color: #F57F17;
    font-size: 14px;
    text-align: center;
}
.logo-bg {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    .bl-logo {
        width: 100%;
        max-width: 100px;
    }
}
.login-container {
    .left-column{
        background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../../assets/images/login-bg.png") no-repeat left;
        background-size: cover; height: 100vh; padding: 15px; position: relative; color: #fff;
        .logo-bg {
            margin-top: 60px;
        }
        .login-title {
            font-size: 48px;
            margin-top: 20px;
        }
        .login-description {
            font-size: 24px;
        }
        .cpy-content {
            position: absolute; bottom: 15px; width: 100%;
        }
    }
    .right-column {
        background-color: #192430;
        height: 100vh; 
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        .welcome-heading {
            margin-bottom: 0;
            line-height: inherit;
        }
        .bar {
            background-color: #f57f17;
            border-radius: 5px;
            height: 2px;
            margin-bottom: 12px;
            overflow: hidden;
            position: relative;
            width: 136px;
        }
        .login-info {
            font-size: 18px;
        }
        .input-icons {
            position: relative;
            .fa, .fa-solid {
                font-size: 18px;
                position: absolute;
                top: 10px;
                left: 10px;
                &.eye-icon {
                    right: 10px;
                    left: initial;
                }
            }
        }
        .username-input {
            background-color: transparent;
            border-color: #fff;
            border-radius: 50px;
            border-width: 1px;
            height: 38px;
            padding-left: 40px;
            width: 100%;
            color: #fff;
        }
        .forgot-pass {
            text-align: right;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
        .form-check-input {
            background-color: transparent;
            border-color: #b9b9b9;
        }
        .login-btn, .signup-btn {
            background-color: #f57f17;
            border-color: #f57f17;
            border-radius: 25px;
            border-width: 1px;
            color: #fff;
            padding: 10px;
            width: 100%;
        }
    }
}

// Media Queries Start
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}