:root{
    --header-height: 3rem;
    --nav-width: 68px;
  } 
  main{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito sans', sans-serif;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 1rem;
    transition: .2s;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .header-toggle{
    font-size: 1.25rem;
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0 0.5rem;
  }
  .sidebar{
    position: fixed;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 250px;
    overflow: hidden;
    background-color: skyblue !important;
    
  }
  .Sidebarlist .row {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    list-style-type: none;
    padding-top: 10px;
  
  }
  #height1 {
    height: 150px !important;
  }
  #height2{
    height:300px !important;
  }
  .sidebar li:hover{
    cursor:default;
    background-color: beige;

  }
  .section{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .active{
    color: var(--white-color);
    background-color: rgba(0,0,0,0.1);
  }
  .active::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 3px;
    background-color: var(--white-color);
    transition: 0.5s;
  }
  .show{
    left: 0;
  }
  .space-toggle{
    padding-left: calc(var(--nav-width) + 188px);
  }
  .dis-none{
    left: -300px !important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
  }
  
  @media screen and (max-width: 768px) {
    main{
      margin: calc(var(--header-height) + 1) 0 0 0;
      padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }
    .header{
      height: calc(var(--header-height) + 1rem);
      padding-left: calc(var(--nav-width) + 2rem);
    }
    .sidebar{
      left: 0;
      padding: 1rem 0 0 0;
    }
    .show{
      width: calc(var(--header-height) + 156px);
    }
    .space-toggle{
      padding-left: calc(var(--nav-width) + 188px);
    }
  }
  
  .page-box{
    margin-top: 7%;
  }
  .card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 0;
    transition: 0.5s;
  }
  .section{
    border-bottom: 1px solid black;
  }
  .section a{
    text-decoration: none;
  }
  section li{
    list-style: none;
  }
  