$fontfamily:Roboto;
$color:white;
$sidebar-width:270px;
body{
    font-family: $fontfamily;
}
.left-arrow{
    display:none;
}
.left-arrow-icon{
    display:block;
}
.hamburger-icon{
    cursor: pointer;
    font-size: 24px;
    color: #ff8c00;
    transition: .4s;
    padding-right: 10px;
}

@media (max-width: 575.98px) {    
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}