.user-profile-box {
    .profileimage-wrapper{
        width: max-content;
        margin: 0 auto;
        position: relative;
        .editPix {
            position: absolute;
            bottom: 0px;
            right: 16%;
            cursor: pointer;
            &:hover {
                background-color: #efefef;
            }
        }
    }
    .profile-menu-data{
        background: #f9fafb;
        border-radius: 16px;
        padding: 26px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    .user-picture {
        width: 200px; height: 200px; border-radius: 50%; border: 1px solid #ddd; margin: auto;
        display: flex; justify-content: center; align-items: center; overflow: hidden; cursor: pointer;
        position: relative;
        img.userPix {
            width: 100%;
        }
    }
    .user-profile-tab-content {
        padding: 20px 0;
    }
    ul.profile-menu-data {
        list-style: none;
    }
    li {
        font-weight: 500;
        margin-bottom: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        label {
            font-weight: 400; margin-right: 5px; color: #888; display: block; text-transform: uppercase;
        }
    }
    .resetPassword {
       border-color: #1B609D;
       background: white;
       color: #1B609D;
    }
    .profilebuttons{
        display: flex;
        justify-content: center;
        gap: 22px;
        margin: 16px 0px;
    }
}
.user-profile-container {
    border:1px solid #ddd; background-color: #fff;
}
.user-picture-form {
    width: 100px; height: 100px; border-radius: 50%; border: 1px solid #ddd; margin: auto;
    display: flex; justify-content: center; align-items: center; overflow: hidden;
}