.performanceOverview-block {
    .pob-icon {
        margin-right: 15px;
        width: 36px;
        height: auto;
    }
    .pob-info {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 6px;
    }
    .progress {
        background-color: #d9d9d9;
    }
    .progress-bar {
        background: linear-gradient(269.92deg, #28D1EF 1.69%, #2B2B32 99.93%);
    }
}