.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 10px 0px;       
    .brand-logo{
        img{
            width: 115px;
        }
    }

    .header-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-wrapper{
    background-color: #1B2430;
    color: #ffffff;

    .menu-nav{
        padding: 15px 0px;
        .menu-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;
        }
    }
}

.breadcrumb-wrapper{
    background-color: #f5f7ff;
    .breadcrumb-item{
        .breadcrumb-link{
            text-decoration: none;
            color: #666 ;   
        }
    }
}