@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}
a, a:visited {
    color: #0191AC;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #929DA7;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #929DA7;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #929DA7;
}
.form-control {
    padding: 0.5rem 0.75rem;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background: linear-gradient(180deg, #28C8E5 0%, #2C2C33 100%); border-color: #28C8E5;
}
.btn-primary:hover, .btn-primary:focus {
    border-color: #28C8E5; background: linear-gradient(180deg, #28C8E5 0%, #58E5FF 0.01%, #515158 100%);
}
.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background: #fff; border-color: #000; color: #000;
}
.btn-secondary:hover, .btn-secondary:focus {
    border-color: #000;
}
.btn-outline-primary {
    border-color: #28C8E5; color: #28C8E5;
}
.btn-outline-primary:hover {
    background-color: #28C8E5; color: #fff;
}
.progress {
    --bs-progress-height: 0.5rem;
}
.error-message {
    color: #ff0000;
    font-size: 11px;
    margin-bottom: 0.25rem;
}
.page-title {
    border-bottom: 1px solid #ddd;
}
.mitblock {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.mitblock-title {
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mitblock-body {
    margin-top: 1.5rem;
}