:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #243a73;
  --first-color-alt: #dbdffd;
  --white-color: #ffddee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: "Nunito sans", sans-serif;
  /* transition: 0.5s; */
}

.header-avatar .bi-person-circle {
  font-size: 1.6rem;
  color: var(--first-color);
}


.sidebar {
  position: fixed;
  top: 65px;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--first-color);
  padding-top: 1rem;
  overflow: hidden;
  /* transition: all .2s linear; */
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.show {
  left: 0;
}

/* .space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
} */

.welcome-txt h6 {
  font-weight: 700;
}

.welcome-txt h6 i {
  color: #f0a500;
}

.error-alert {
  padding: 0.5rem;
  font-size: 14px;
  color: red;
  border-radius: 0px !important;
  background-color: #fff !important;
}

@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height) + 1) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    /* padding-left: calc(var(--nav-width) + 2rem); */
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show_sidebar {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

.page-box {
  margin-top: 7%;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  border-radius: 0;
  transition: 0.5s;
  margin: 1.5rem 0;
  position: unset !important;
}
.drop{
  position: absolute;
  top: 64px;
  right: 17px;
  background-color: white;
  width:120px;
  border: 1px solid black;

}
.drop ul li{
  line-height: 2;
  border-bottom: 1px solid black;

}
.notification_drop{
  position: absolute;
  top: 64px;
  right: 230px;
  background-color: white;
  border: 1px solid black;

}
.notification_drop ul li{
  line-height: 2;
  border-bottom: 1px solid black;
  width:250px;

}