.course-widgets{
    .ai-course {
        border: 1px solid #EAE6E5;
        > .row {
            margin: 10px 0;
        }
        .card-title {
            height: 60px;
        }
        .progress-percentage{
            font-size: 30px;
            color:#F57F17;
            margin-right: 10px;
            margin-left: 15px;
            font-weight: 500;
        }
        .percentage-status{
            color:#767676;
            font-size: 14px;
        }
        .progress{
            border-radius: unset;
            height: 7px;
            .progress-bar{
                background-color: #F57F17;
            }
        }
        .course-duration {
            padding:15px;
            background:rgba(249, 128, 18, 0.1);
            transition: 0.5s;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .course-btn {
                background-color: #F57F17;
                border-color: #F57F17;
                border-width: 0px;
                padding: 8px 30px;
                border-radius: 50px;
                color: #fff;
                margin-left: auto;
            }
            &:hover{
                background-color: #192430;
                color:white;
                cursor:pointer;
            }
            > i {
                margin-right: 5px;
            }
        }
        .course-image{
            width:50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}
.more-course-btn{
    background-color: white;
    border: 1px solid #F57F17;
    border-radius: 50px;
    padding:8px 30px 8px 30px;
    color: #F57F17;
    font-size: 14px;
    margin-top: 15px;
}

@media (max-width: 575.98px) {
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}